::-webkit-scrollbar {
  width: 10px;
  display: block;
}

::-webkit-scrollbar-thumb {
  width: inherit;
  height: 35px; 
  background: #2c2c2c;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background: #111;
  font-family: "sans serif", Helvetica, Arial;
}


/* HEADER */
body > .header {
  width: 100%;
  height: 45px;
  background: #111;
  box-shadow: 0px 1px 7px #000;
  display: inline-block;
  z-index: 2;
  bottom: auto;
  display: inline-flex;
  position: fixed;
} 

body > .header .menu.section-container {
  width: fit-content;
  height: fit-content;
  margin: auto auto auto 0px;
}

body > .header .menu.section-container > button {
  width: 45px;
  height: 45px;
  margin-left: 8px;
  display: block;
  position: relative;
  z-index: 2;
  background: #111;
}

body > .header .section-container button.icon.menu::before {
  background-size: 70%;
  transform: rotate(0deg);
  transition-duration: 0.38s;
}

.menu.black.icon::before {
  background-image: url(https://raw.githubusercontent.com/jojosweb/libraries/main/Icons/Shapes/Asterik%20-%20White%20-%201.png);
}

body > .header .section-container button.icon.menu.rotate::before {
  transform: rotate(260deg);
}


/* MENU DROPDOWN */
body > .header .menu.section-container .dropdown {
  width: fit-content;
  height: 0px;
  background: #111;
  box-shadow: 0px 1px 7px #000;
  padding: 0px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
  transition-duration: 0.38s;
  overflow: hidden;
}

body > .header .menu.section-container .dropdown.show {
  height: 360px;
}

body > .header .menu.section-container .dropdown button {
  margin: auto auto auto 0px;
  color: #fff;
  text-align: left;
  width: fit-content;
  white-space: nowrap;
  font-size: 14px;
  font-family: monospace; 
  padding: 14px 0px;
}


/* HEADER TITLE */
body > .header > .title {
  width: fit-content;
  height: fit-content;
  margin: auto 0px auto auto;
  font-family: Bungee;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #fff;
  right: 8px;
  left: auto;
  user-select: none;
  line-height: 2;
  white-space: nowrap;
}

.height-longer body > .header > .title.short {
  max-width: 80%;
  font-size: 15px;
  white-space: break-spaces;
  overflow: hidden;
  line-height: 1;
  text-align: right;
}


/* CONTENT */
body .content {
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  margin-top: 45px;
  overflow-x: hidden;
  overflow-y: scroll;
}


/* CONTENT - SECTION CONTAINER */
body > .content .section-container {
  height: fit-content;
  flex-direction: column;
  margin-top: 5px;
  opacity: 0;
  visibility: hidden;
  display: none;
  margin: auto;
}

.width-longer body > .content .section-container.no-header-title {
  margin: 10px auto auto auto;
}

.width-longer body .content .section-container {
  width: 65%;
}

.height-longer body .content .section-container {
  width: 100%;
}

body > .content .section-container.show {
  opacity: 1;
  visibility: visible;
  display: flex;
}

body > .content .section-container p {
  width: fit-content;
  color: #fff;
  padding: 15px 15px;
  margin: auto;
  font-family: "sans serif", Helvetica, Arial;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

body > .content .section-container .image-container {
  width: 100%;
  height: fit-content;
  margin: auto;
}

.width-longer body > .content .section-container .image-container {
  margin: auto auto 40px auto;
}

.height-longer body > .content .section-container .image-container.landscape {
  margin: auto auto 400px auto;
}

.height-longer body > .content .section-container .image-container.portrait {
  margin: auto auto 40px auto;
}

body > .content .section-container .image-container:last-child {
  margin: auto auto 40px auto !important;
}

body > .content .image-container p {
  text-align: right;
  margin: auto;
  margin-right: 0px;
  text-transform: capitalize;
  
}

.width-longer body > .content .image-container.portrait p {
  text-align: center;
  margin: auto;
}

@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/whois');

@import url(//db.onlinewebfonts.com/c/f7155a90eafcde757701e3f9adcd8113?family=AmericanTypwrterITCW01-Lt);

                                                

body > .content .section-container p.bio {
  width: inherit;
  width: 80%;
  text-transform: none;
  font-size: 13px;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  font-family: 'Whois', sans-serif;
  font-family: "AmericanTypwrterITCW01-Lt", sans-serif;
  line-height: 1.5;
}


body > .content .section-container .image-container p span {
  font-size: 12px;
  color: #fff;
  line-height: 1.8;
  font-style: italic;
}

body > .content .section-container img {
  width: 100%;
  height: auto;
}

.width-longer body > .content .image-container.portrait img {
  width: 52%;
  height: auto;
  margin: auto;
  position: relative;
  display: block;
}

.height-longer body > .content .image-container.landscape img,
.height-longer body > .content .image-container.portrait img {
  width: 100%;
  height: auto;
}


/* SECTION CONTAINER TITLE */
body > .content .section-container a.link {
  width: fit-content;
  height: fit-content;
  max-width: 80%;
  margin: 15px auto;
  text-decoration: underline;
  text-transform: none;
  font-size: 13px;
  text-align: left;
  color: #fff;
  letter-spacing: 1px;
}

.social-media-profiles {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin: 15px auto;
  border-radius: 15px;
  background: #111;
  box-shadow: 0px 1px 7px #000;
  position: relative;
}

.social-media-profiles a {
  width: 40px;
  height: 40px;
  position: relative;
  margin: auto 15px;
  cursor: pointer;
}

.social-media-profiles a.icon::before {
  width: inherit;
  height: inherit;
  background-size: 70%;
}

.social-media-profiles .menu {
  width: 0px;
  height: 0px;
  position: absolute;
  color: #fff;
  border-radius: 15px;
  position: absolute;
  right: 4px;
  top: 0px;
  background: #111;
  box-shadow: 0px 1px 7px #000;
  overflow: hidden;
  display: flex;
  z-index: -1;
}

.social-media-profiles .menu.show {
  width: 200px;
  height: 39px;
  top: -42px;
  z-index: 3;
}

.social-media-profiles .menu span {
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: relative;
}
